<?xml version="1.0" encoding="utf-8"?>
<settings>
<General>
    <main_timestep> 0.005 </main_timestep>
</General>

<SensorBoss>
    <accel_stddev> 0.02 </accel_stddev> <!-- experiment: 0.1 m/s^2 -->
    <gyro_stddev> 0.001 </gyro_stddev> <!-- experiment: 1e-4 rad/s -->
    <accel_bias> -0.01053239  0.02018984 -0.60097236 </accel_bias>
    <gyro_bias> -0.00703777  0.00290143  0.00554969 </gyro_bias>
    <IMU_orientation> 1 0 0
                      0 0 1
                      0 -1 0 </IMU_orientation>
</SensorBoss>

<State_Estimation>
    <pos_stddev> 0.1 </pos_stddev>
    <axis_stddev> 0.15 </axis_stddev>
    <vel_stddev> 1.0 </vel_stddev>
    <angvel_stddev> 0.1 </angvel_stddev>
    <damping_deceleration> 0.1 </damping_deceleration>
    <prediction_only> </prediction_only>
</State_Estimation>

<Logger>
    <newline> </newline>
    <skip_every> 5 </skip_every>
    <log_times>  </log_times>
    <log_controlstate>  </log_controlstate>
    <log_sensor> 1 </log_sensor>
    <log_sensor_pred>  </log_sensor_pred>
    <log_state> 1 </log_state>
    <log_R> 0 </log_R>
    <log_state_pred> 0 </log_state_pred>
    <log_unexpected_comm_data> </log_unexpected_comm_data>
</Logger>

</settings>
